{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div style="position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;">
        <video autoplay muted loop id="myVideo" style="position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;">
            <source src="../../static/video.mp4" type="video/mp4">
        </video>
        <!--HEADER-->
        <div style="position: absolute;
        width: 1920px;
        height: 84px;
        left: 0px;
        top: 0px;
        
        background: #0769B2;">
        </div>
        <div>
            <img src="../../static/logo.png" alt="logo" style="position: absolute;
            width: 268px;
            height: 63px;
            left: 1633px;
            top: 10px;
            object-fit: contain;">
        </div>
        <!--rectangle top-->
        <div style="position: absolute;
        width: 1800px;
        height: 255px;
        left: 60px;
        top: 130px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle middle-->
        <div style="position: absolute;
        width: 1800px;
        height: 255px;
        left: 60px;
        top: 431px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle left-->
        <div style="position: absolute;
        width: 565px;
        height: 255px;
        left: 60px;
        top: 771px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle middle bottom-->
        <div style="position: absolute;
        width: 483px;
        height: 255px;
        left: 718px;
        top: 771px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle right-->
        <div style="position: absolute;
        width: 565px;
        height: 255px;
        left: 1295px;
        top: 771px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>



        <!--WHITE BOXES RECTANGLE TOP-->

        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 91px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 339px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 588px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 838px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1088px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1338px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1588px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>



        <!--WHITE BOXES RECTANGLE MIDDLE-->

        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1588px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 339px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 588px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 838px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1338px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 91px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1088px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        





        <!-------------------------------------------------------------------------------------------------------------->
        <!--WHITE BOXES RECTANGLE TOP-->

        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 105px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r704}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 214px;
        
        background: {{r704h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 214px;
        
        background: {{r704h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 256px;
        
        background: {{r704h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 256px;
        
        background: {{r704h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 298px;
        
        background: {{r704h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 298px;
        
        background: {{r704h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>











        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 355px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r705}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 214px;
        
        background: {{r705h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 214px;
        
        background: {{r705h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 256px;
        
        background: {{r705h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 256px;
        
        background: {{r705h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 298px;
        
        background: {{r705h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 298px;
        
        background: {{r705h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>

















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 604px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r706}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 214px;
        
        background: {{r706h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 214px;
        
        background: {{r706h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 256px;
        
        background: {{r706h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 256px;
        
        background: {{r706h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 298px;
        
        background: {{r706h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 298px;
        
        background: {{r706h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 856px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r708}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 214px;
        
        background: {{r708h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 214px;
        
        background: {{r708h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 256px;
        
        background: {{r708h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 256px;
        
        background: {{r708h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 298px;
        
        background: {{r708h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 298px;
        
        background: {{r708h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1104px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r709}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 214px;
        
        background: {{r709h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 214px;
        
        background: {{r709h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 256px;
        
        background: {{r709h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 256px;
        
        background: {{r709h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 298px;
        
        background: {{r709h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 298px;
        
        background: {{r709h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>






















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1354px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r710}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 214px;
        
        background: {{r710h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 214px;
        
        background: {{r710h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 256px;
        
        background: {{r710h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 256px;
        
        background: {{r710h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 298px;
        
        background: {{r710h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 298px;
        
        background: {{r710h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>




























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1604px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r711}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 214px;
        
        background: {{r711h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 214px;
        
        background: {{r711h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 256px;
        
        background: {{r711h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 256px;
        
        background: {{r711h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 298px;
        
        background: {{r711h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 298px;
        
        background: {{r711h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>





























        <!-------------------------------------------------------------------------------------------------------------->
        <!--WHITE BOXES RECTANGLE MIDDLE-->

        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 105px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r601}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 515px;
        
        background: {{r601h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 515px;
        
        background: {{r601h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 557px;
        
        background: {{r601h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 557px;
        
        background: {{r601h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 599px;
        
        background: {{r601h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 599px;
        
        background: {{r601h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>











        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 355px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r604}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 515px;
        
        background: {{r604h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 515px;
        
        background: {{r604h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 557px;
        
        background: {{r604h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 557px;
        
        background: {{r604h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 599px;
        
        background: {{r604h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 599px;
        
        background: {{r604h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>

















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 604px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r608}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 515px;
        
        background: {{r608h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 515px;
        
        background: {{r608h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 557px;
        
        background: {{r608h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 557px;
        
        background: {{r608h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 599px;
        
        background: {{r608h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 599px;
        
        background: {{r608h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 856px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r609}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 515px;
        
        background: {{r609h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 515px;
        
        background: {{r609h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 557px;
        
        background: {{r609h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 557px;
        
        background: {{r609h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 599px;
        
        background: {{r609h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 599px;
        
        background: {{r609h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1104px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r610}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 515px;
        
        background: {{r610h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 515px;
        
        background: {{r610h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 557px;
        
        background: {{r610h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 557px;
        
        background: {{r610h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 599px;
        
        background: {{r610h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 599px;
        
        background: {{r610h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>






















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1354px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r615}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 515px;
        
        background: {{r615h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 515px;
        
        background: {{r615h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 557px;
        
        background: {{r615h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 557px;
        
        background: {{r615h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 599px;
        
        background: {{r615h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 599px;
        
        background: {{r615h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>




























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1604px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>{{r616}}</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 515px;
        
        background: {{r616h.0}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 515px;
        
        background: {{r616h.1}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 557px;
        
        background: {{r616h.2}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 557px;
        
        background: {{r616h.3}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 599px;
        
        background: {{r616h.4}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 599px;
        
        background: {{r616h.5}};
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>














        <div style="position: absolute;
        width: 497px;
        height: 187px;
        left: 94px;
        top: 788px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
        
        color: #FFFFFF;">
        <p>A venir <br>

            10:00 - English Delta - 708<br>
            10:00 - Kick-off Wolfram - 704<br>
            10:30 - Bootstrap Wolfram - 704<br>
            10:30 - Follow-up myRPG - 604</p>
        </div>


        <div style="position: absolute;
        width: 153px;
        height: 60px;
        left: 883px;
        top: 819px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;">
            <p>{{current_time}}</p>
        </div>




        <div style="position: absolute;
        width: 276px;
        height: 84px;
        left: 832px;
        top: 899px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;">
            <p>Vendredi 24 avril<br>2024</p>
        </div>



        <div style="position: absolute;
        width: 463px;
        height: 63px;
        left: 1349px;
        top: 862px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        
        color: #FFFFFF;">
            <p>"Ton fils est chauve"<br>Pablo</p>
        </div>

    </div>
{% endblock content %}
