{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div style="position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;">
        <video autoplay muted loop id="myVideo" style="position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;">
            <source src="../../static/video.mp4" type="video/mp4">
        </video>
        <!--HEADER-->
        <div style="position: absolute;
        width: 1920px;
        height: 84px;
        left: 0px;
        top: 0px;
        
        background: #0769B2;">
        </div>
        <div>
            <img src="../../static/logo.png" alt="logo" style="position: absolute;
            width: 268px;
            height: 63px;
            left: 1633px;
            top: 10px;
            object-fit: contain;">
        </div>
        <!--rectangle top-->
        <div style="position: absolute;
        width: 1800px;
        height: 255px;
        left: 60px;
        top: 130px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle middle-->
        <div style="position: absolute;
        width: 1800px;
        height: 255px;
        left: 60px;
        top: 431px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle left-->
        <div style="position: absolute;
        width: 565px;
        height: 255px;
        left: 60px;
        top: 771px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle middle bottom-->
        <div style="position: absolute;
        width: 483px;
        height: 255px;
        left: 718px;
        top: 771px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>
        <!--rectangle right-->
        <div style="position: absolute;
        width: 565px;
        height: 255px;
        left: 1295px;
        top: 771px;
        
        background: rgba(255, 255, 255, 0.49);
        backdrop-filter: blur(15px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 42px;">
        </div>



        <!--WHITE BOXES RECTANGLE TOP-->

        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 91px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 339px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 588px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 838px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1088px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1338px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1588px;
        top: 163px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>



        <!--WHITE BOXES RECTANGLE MIDDLE-->

        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1588px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 339px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 588px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 838px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1338px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 91px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        <div style="position: absolute;
        width: 240px;
        height: 189px;
        left: 1088px;
        top: 464px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 20px;">
        </div>
        





        <!-------------------------------------------------------------------------------------------------------------->
        <!--WHITE BOXES RECTANGLE TOP-->

        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 105px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>704 - C++ room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>











        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 355px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>705 - Perl room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>

















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 604px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>706 - Python room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 856px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>708 - English room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1104px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>709 - Swift room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>






















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1354px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>710 Shared room 2</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>




























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1604px;
        top: 176px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>711 - Haskell room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 214px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 214px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 256px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 298px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>





























        <!-------------------------------------------------------------------------------------------------------------->
        <!--WHITE BOXES RECTANGLE MIDDLE-->

        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 105px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>601 - C room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 132px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 219px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>











        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 355px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>604 - Kotlin room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 382px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 469px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>

















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 604px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>608 - Dart room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 631px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 718px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 856px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>609 - Typescript room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 883px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 970px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1104px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>610 - Lean room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1131px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1218px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>






















        
        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1354px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>615 - Hub room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1381px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1468px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>




























        <div style="position: absolute;
        width: 208px;
        height: 24px;
        left: 1604px;
        top: 477px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        
        color: #000000;">
            <p>616 - Assembly room</p>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 515px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>9h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 515px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>10h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>11h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 557px;
        
        background: #E96B6B;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>12h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1631px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>13h</b>
            </div>
        </div>
        <div style="box-sizing: border-box;

        position: absolute;
        width: 71.35px;
        height: 30.88px;
        left: 1718px;
        top: 599px;
        
        background: #9EFF7C;
        border: 1px solid #0769B2;
        border-radius: 6px;">
            <div style="text-align: center;">
                <b>14h</b>
            </div>
        </div>
















    </div>
{% endblock content %}
